{extend name="common:base" /}
{block name="body"}

    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
	<div class="container">
		<div class="content">
		
			<div class="col-md-7 content-left">
				<div class="article">
					
					<h6>Software </h6>
					<a class="title" href="{:url('single')}">1DeltaMaker – The new kid on the block An Elegant 3D Printer and a new wicked ass thing</a>
					<a href="{:url('single')}"><img src="__PUBLIC__/images/a1.jpg" alt="" /></a>
					<p>Products were inspired by Behance's research of especially productive teams in the creative industry. Hundreds of individuals and teams were interviewed, and Behance chronicled the work habits and best practices of creative leaders. </p>
					<p>The paper products were initially designed by and for the Behance team as a way to stay organized. In 2007, at the insistence of friends who wanted Action Pads of their own...</p>
				</div>
			</div>
			
			
			
	
{/block}
